{% extends 'main_content.html' %}

{% block content %}
    <form class="container" method="POST">
    {% csrf_token %}
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" name="title" placeholder="Title" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <select class="form-select form-control form-select-sm" aria-label=".form-select-sm example">
                <option selected value="status">Status</option>
                <option value="P">Pending</option>
                <option value="C">Completed</option>
                <option value="I">In Progress</option>
            </select>
        </div>
        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" name="description" rows="4"></textarea>
        </div>

        <div class="form-outline mb-4">
            <input type="date" name="due_date" placeholder="Title" class="form-control" />
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Create Task</button>
    </form>
{% endblock content %}