{% extends "main_content.html" %}
{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <ul class="list-group">
        {% if tasks %}
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>{{ task.title }}</p>
                    <p><b>Status:</b>
                        {% if task.check_status == "P" %}
                            Pending
                            {% elif task.check_status == "C" %}
                            Completed
                            {% else %}
                            In Progress
                        {% endif %}
                    </p>
                    <p><b>Due date:</b> {{ task.due_date }}</p>
                    <div>
                        <a  class="btn btn-primary btn-sm" href="{% url "detail-task" task.id %}">Detail</a>
                        <a  class="btn btn-info btn-sm" href="{% url 'update-task' task.id %}">Update</a>
                        <a  class="btn btn-danger btn-sm" href="{% url 'delete-task' task.id %}">Delete</a>
                    </div>
                </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item d-flex justify-content-center align-items-center">
            You have no tasks
            </li>
        {% endif %}
        </ul>
    </div>
{% endblock %}